
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include layout/styles
        title Creative One Page Portfolio
    body 
    //- Start banner
    section.banner 
        //- Start navigation
        nav 
            ul.links
                li 
                    a(href="#") home  
                li 
                    a(href="#") about 
                li 
                    a(href="#") our serivces  
                li 
                    a(href="#") portfolio  
                li 
                    a(href="#") experience 
                li 
                    a(href="#") blog 
                li 
                    a(href="#") contact 
        .banner-intro 
            span hello, i am
            h1
                span john
                span smith
            p I have more then 10 years of Experience
            a(href="#")  Download CV          