
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include layout/styles
        title Creative One Page Portfolio
    body 
    //- Start banner
    section.banner
        //- Start navigation
        nav 
            .container
                ul.links
                    li 
                        a(href="#") home  
                    li 
                        a(href="#") about 
                    li 
                        a(href="#") our serivces  
                    li 
                        a(href="#") portfolio  
                    li 
                        a(href="#") experience 
                    li 
                        a(href="#") blog 
                    li 
                        a(href="#") contact 
        .container                
            .banner-intro 
                span hello, i am
                h1
                    span john
                    span smith
                p I have more then 10 years of Experience
                a(href="#")  Download CV
    //- Start Abous Us
    section.about-us
        .container
            .info 
                .left-side
                    h2 John Smith
                    span Web designer
                    p Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores. Ipsam as velt blanditiis debitis consequuntur mollita umenda nam obcaecati illo!
                .center-image
                    img(src="/dist/imgs/person.jpg", alt="")
                .right-side
                    .progress 
                        p Design ( 80% )
                        .progress-bar 
                            span
                    .progress 
                        p Photography ( 65% )
                        .progress-bar 
                            span
                    .progress 
                        p Marketing ( 50% )
                        .progress-bar 
                            span
                    .progress 
                        p Branding ( 30% )
                        .progress-bar 
                            span
        .contact-info
            .container
                .contact-boxes
                    div 
                        .circle 
                            i.fa.fa-mobile 
                        .info 
                            h5 Phone number
                            p +1 234 456-789
                            p +123-456-7890
                    div 
                        .circle 
                            i.fa.fa-location-arrow 
                        .info 
                            h5 Address
                            p 8, Belgium, Brussels,
                            p Liutte 207 New York, USA
                    div 
                        .circle 
                            i.fa.fa-envelope 
                        .info 
                            h5 Email Address
                            p johnsmith@company.com
                            p youoffice@company.com
    //- Start Our Services
    section.our-services 
        .container 
            .heading 
                h2 Our services
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            .services 
                .service 
                    i.fa.fa-gear 
                    h4 Best Service
                    p  Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.   
                    
                .service 
                    i.fa.fa-save
                    h4 Best Service
                    p  Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.   
                .service 
                    i.fa.fa-tint 
                    h4 Best Service
                    p  Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.   
                .service 
                    i.fa.fa-american-sign-language-interpreting 
                    h4 Best Service
                    p  Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.   
                    
                .service 
                    i.fa.fa-assistive-listening-systems 
                    h4 Best Service
                    p  Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.   
                .service 
                    i.fa.fa-arrows-alt 
                    h4 Best Service
                    p  Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.   
    //- Testimonials
    section.testimonials
        .container
            .heading 
                h2 Testimonials
            .ts-content 
                .ts-text 
                    p Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.Lorem ipm dolor amet, consecte adipiing lit Sunt sed ad possimus magm maiores. Ipsa dolor sit ile magnam maores.
                .ts-client 
                    .client-img 
                        img(src="/dist/imgs/ts-client.jpg", alt="")
                    .client-info 
                        h4 Jon Brown
                        span Graphic Designer          
    //- Portfolio
    section.portfolio 
        .container 
            .heading 
                h2 portfolio 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            .contents 
                .links
                    ul 
                        li
                            a.active(href="#") all  
                        li
                            a(href="#") PSD Design  
                        li
                            a(href="#") Presentation  
                        li
                            a(href="#") Work Ideas  
                        li
                            a(href="#") Logo  
                        li
                            a(href="#") Icons  
                .content-images
                    .box 
                        img(src="/dist/imgs/p1.jpg", alt="") 
                    .box 
                        img(src="/dist/imgs/p2.jpg", alt="") 
                    .box 
                        img(src="/dist/imgs/p3.jpg", alt="") 
                    .box 
                        img(src="/dist/imgs/p4.jpg", alt="") 
                    .box 
                        img(src="/dist/imgs/p5.jpg", alt="") 
                    .box 
                        img(src="/dist/imgs/p6.jpg", alt="") 
    //- experience
    section.experiences 
        .container 
            .heading    
                h2 experience
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            .experience 
                .info 
                    h4 Personal Adviser
                    span 2015 - 2016
                .text 
                    p Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores. Ipsam as velt blanditiis debitis consequuntur mollita umenda nam obcaecati illo!
                        
            .experience 
                .info 
                    h4 Personal Adviser
                    span 2015 - 2016
                .text 
                    p Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores. Ipsam as velt blanditiis debitis consequuntur mollita umenda nam obcaecati illo!
            .experience 
                .info 
                    h4 Personal Adviser
                    span 2015 - 2016
                .text 
                    p Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores. Ipsam as velt blanditiis debitis consequuntur mollita umenda nam obcaecati illo!
            .experience 
                .info 
                    h4 Personal Adviser
                    span 2015 - 2016
                .text 
                    p Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores. Ipsam as velt blanditiis debitis consequuntur mollita umenda nam obcaecati illo!
    //- Blog
    section.blog 
        .container 
            .heading   
                h2 blog
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            .boxes
                .box 
                    figure 
                        img(src="/dist/imgs/blog1.jpg", alt="")  
                        figcaption  Personal Adviser
                    h5 Computer and Using Some Color
                    p Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores. 
                .box 
                    figure 
                        img(src="/dist/imgs/blog2.jpg", alt="")  
                        figcaption  Personal Adviser
                    h5 Computer and Using Some Color
                    p Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores. 
                .box 
                    figure 
                        img(src="/dist/imgs/blog3.jpg", alt="")  
                        figcaption  Personal Adviser
                    h5 Computer and Using Some Color
                    p Lorem ipsum dolor sit amet, consectetur adipielit. Sunt sed ad possimus magm maiores.Ipa Lorem ipsum dolor sit amet, consectetur adiic Sunt sed ad posimus magnam maores. 
    //- Contact
    section.contact-us 
        .container 
            .contact
                .heading 
                    h2 contact 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                form
                    input(type="text" placeholder="Name")
                    input(type="number" placeholder="Phone")
                    input(type="email" placeholder="email")
                    textarea(name="message", cols="30", rows="10", placeholder="Message")
                    button(type="submit") send message

            
