.portfolio{
    @extend .padding;
    .contents{
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        .links{
            flex-basis: 20%;
            ul{
                li{
                    padding: 20px 20px;
                    a{
                        font-size: 1.2rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: inherit;
                        &.active, &:hover{
                            color: #a91aef
                        }
                    }
                }
            }
        }
        .content-images{
            flex-basis: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}